.category-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    gap: 10px; 
}

.category-box {
    flex: 0 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    border-radius: 10px;
    transition: all 0.3s;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.category-container::-webkit-scrollbar {
    display: none;
}

.category-box.active { 
    color: #DC143C;
    font-size: 16px;
}

@media (min-width: 992px) {
    .category-container::-webkit-scrollbar {
        display: block;
        height: 4px;
    }
    
    .category-container::-webkit-scrollbar-thumb {
        display: block;
        background: #888;
    }
    
    .category-container::-webkit-scrollbar-thumb:hover {
        display: block;
        background: #555;
    }
    
  }

  @media (min-width: 1200px) {
    .category-box{
        font-size: 14px;
    }
    .category-box.active{
        font-size: 17px;
    }
  }

  @media (min-width: 1400px) {
    .category-box{
        font-size: 20px;
    }
    .category-box.active{
        font-size: 24px;
    }
  }

